<div class="headline">
      {% include '../../navigation/button/button.twig' with {
        content: '<   Übersicht',
        nav: true,
      } %}
  <div class="headline__title">{{ content }}</div>
      {% include '../../navigation/button/button.twig' with {
        content: 'Aristo Ratgeber   >',
        nav: true,
      } %}
</div>