.headline
  display: flex
  justify-content: space-between
  height: 120px
  padding: 70px 40px 0

  .button--nav
    height: 40px

  &__title
    font-size: 32px
    font-weight: 900
    text-align: center
