<div class="obligatory">
  <div class="obligatory__wrapper">
    {% include '../title/title.twig' with {
      content: 'Pflichtangaben',
    } %}
    {% include '../text/text.twig' with {
      content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at semper purus. Donec non ultrices nisi, in sagittis ex. Fusce ut ultricies lectus. Nullam et leo sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque eu luctus nisi. Nunc dignissim ullamcorper urna, a tristique orci condimentum eget. ',
    } %}
  </div>
</div>