<div class="similar">
  <div class="similar__wrapper">
    <div class="similar__header">ÄNLICHE PRODUKTE</div>
    <div class="similar__content">
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/uWp9mTd.png',
        header: 'Eucabal - Hustensaft',
        content: 'Lösung',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/uWp9mTd.png',
        header: 'Eucabal - Hustensaft',
        content: 'Lösung',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/uWp9mTd.png',
        header: 'Eucabal - Hustensaft',
        content: 'Lösung',
      } %}
    </div>
  </div>
</div>