<div class="moody">
  <div class="moody-slider">
    <div><img src="https://i.imgur.com/q1QkQfW.png"></div>
    <div><img src="https://i.imgur.com/q1QkQfW.png"></div>
    <div><img src="https://i.imgur.com/q1QkQfW.png"></div>
  </div>
</div>