<div class="mood">
  {% include '../../../components/navigation/special-link/special-link.twig' %}
  {% include '../../../components/content/moody/moody.twig' %}
  {% include '../../../components/content/mood-wrapper/mood-wrapper.twig' %}
</div>