<div class="downloads">
  <div class="downloads__wrapper">
    <div class="downloads__title">
      {% include '../title/title.twig' with {
        content: 'Downloads',
      } %}
      <div class="downloads__buttons">
        {% include '../../navigation/button/button.twig' with {
          placeholder: true,
          content: '<',
          class: 'prev',
        } %}
        <div class="downloads__border"></div>
        {% include '../../navigation/button/button.twig' with {
          placeholder: true,
          content: '>',
          class: 'next',
        } %}
      </div>
    </div>
    <div class="downloads__links">
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Information',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Broschöre',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Information',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Broschöre',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Information',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Broschöre',
      } %}
      {% include '../item/item.twig' with {
        icon: 'https://i.imgur.com/tL5cFFq.png',
        header: 'Eucabal - Balsam S',
        content: 'Beipackzettel',
      } %}
    </div>
    <div class="downloads__link"><a href="#">Mehr Materialen anzeigen</a></div>
  </div>
</div>