<div class="table">
  <ul>
    <li><a href="#tabs-1">10mg</a></li>
    <li><a href="#tabs-2">20mg</a></li>
  </ul>
  <div class="table__border"></div>
  <div id="tabs-1">
    <table>
      <tr>
        <th>PZN</th>
        <th>Größe (N)</th>
        <th>Preis</th>
      </tr>
      <tr class="tr_border">
        <td>01546758</td>
        <td>25 ml (N1)</td>
        <td>4,22 €</td>
      </tr>
      <tr class="tr_border">
        <td>08473614</td>
        <td>50 ml (N2)</td>
        <td>7,50 €</td>
      </tr>
      <tr class="tr_border">
        <td>06871457</td>
        <td>100 ml (N3)</td>
        <td>9,90 €</td>
      </tr>
    </table>
  </div>
  <div id="tabs-2">
    <table>
      <tr>
        <th>PZN</th>
        <th>Größe (N)</th>
        <th>Preis</th>
      </tr>
      <tr class="tr_border">
        <td>06871457</td>
        <td>50 ml (N1)</td>
        <td>8,44 €</td>
      </tr>
      <tr class="tr_border">
        <td>01546758</td>
        <td>100 ml (N2)</td>
        <td>14,90 €</td>
      </tr>
      <tr class="tr_border">
        <td>08473614</td>
        <td>200 ml (N3)</td>
        <td>18,90 €</td>
      </tr>
    </table>
  </div>
</div>